
.navbar {
     background-color: #C8A2C8;
    
}

html {
    scroll-behavior: smooth;
}


.inicio {
    background-color: #FFEFF5;
}

.educación {
     background-color: #FFEFF5;
}

.educación .container {
    max-width: 1300px;
}


.educación-card {
    background-color: #ffffffc2;
    padding: 25px;
    border-radius: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s
}

.educación-card:hover {
    transform: translate(-8px);
    box-shadow: 0 10px 30px rgba(124, 15, 110, 0.15);
}

.nombre-titulo {
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}

.intitución {
    font-size: 20px;
    color: #000000;
}

.fecha {
    font-size: 15px;
    color: #a59c9c;
}

.experiencia {
    background-color: #FFEFF5;
}

.experiencia .container {
    max-width: 900px;
    margin: 0 auto;
}

.titulo {
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
}

.lista {
    padding-left: 0;
}

.lista-item {
    background-color: #ffffffc2;
    border-left: 5px solid #C8A2C8;
    border-right:5px solid #C8A2C8;
    padding: 20px 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(128, 21, 104, 0.08);
    border-radius: 60px;
    transition: transform 0.2s 
}

.lista-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(126, 7, 106, 0.12);
}

.titulo {
    font-size: 20px; 
    font-weight: 700;
    color: #000000;
    margin-bottom: 5px;
}

.lugar {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 5px;
    font-style: italic;
}

.fecha {
    font-size: 16px;
    color: #888;
    font-weight: 500;
}

.portafolio-main {
    background-color: #FFEFF5;
}


.titulo-portafolio {
    color: #000000;
    text-align: center;
}


.portafolio-card {
    transition: transform 0.3s
   }

.portafolio-card:hover {
    transform: translateY(-10px);
}

.portafolio-card .card-imagen-top{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 200px;
    object-fit: cover;
}

.portafolio-card .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portafolio-card .titulo-card{
    font-size: 20px;
    color: #000000;
}

.portafolio-card .btn-primary {
    background-color: #000000;
    border-color: #000000;
    transition: background-color 0.2s
}

.contacto {
    background-color: #FFEFF5;
    padding: 80px 0;
}

.contacto .datos {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
}

.contacto a {
    color: #007bff;
}

.redes-sociales .icono-red-social{
    color: #000000;
    font-size:25px;
    transition: color 0.2s
}

.redes-sociales .icono-red-social:hover {
    color: #007bff;
}

footer {
    background-color: #C8A2C8;
    font-size: 15px;
    color: #000000;
    height: 3rem;
    line-height: 3rem;
    text-align: center; 
}